# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
backend/.env
/.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Genkit files
backend/genkit-app/.genkit/runtimes/
backend/genkit-app/.genkit/servers/
backend/genkit-app/.genkit/traces/
backend/genkit-app/.genkit/traces_idx/
backend/onboardingai-47ab3-ed57f9d81476.json
